<div class="card-container bg-white">
  <div class="row text-white">
    <h1>{{{company_name}}}</h1>
  </div><div class="row">
    <p>Contacto: {{{last_name}}}, {{{name}}}</p>
    <p>Email: {{{email}}}</p>
    <p>Teléfono: {{{tel}}}</p>
    <p>Teléfono: {{{tel}}}</p></div>
</div>