<div class="container">
  <p>E-mail Enviado con éxito</p>
  <ul>
    <li>{{nombreForm}}</li>
    <li>{{apellidoForm}}</li>
    <li>{{emailForm}}</li>
    <li>{{telForm}}</li>
    <li>{{comForm}}</li>
  </ul>
</div>