<div class="container-fluid">
  {{#each data}}
    <div class="card col-4">
      <div class="card-header bg-primary">
        <h5 class="card-title text-white">{{company_name}} </h5></div>
      <div class="card-body">
        <p class="card-text h6">{{last_name}}, {{name}} </p>
        <p class="card-text h6">{{email}} - {{tel}}</p>
        <p class="card-text">{{descripcion}}</p>
      </div>
    </div>
  {{/each}}
</div>